# =========================
# FRONTEND
# =========================

frontend/node_modules/
frontend/build/

# =========================
# BACKEND
# =========================

backend/venv/
backend/chroma_db/
backend/app/uploads/
backend/__pycache__/

# =========================
# ENV FILES
# =========================

backend/.env
frontend/.env

# =========================
# PYTHON
# =========================

*.pyc
*.pyo
__pycache__/

# =========================
# LOGS
# =========================

*.log

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# VSCODE
# =========================

.vscode/